---
name: checks
permissions:
  contents: read
  pull-requests: read
"on":
  pull_request:
    branches:
      - main

jobs:
  conventional-commits:
    permissions:
      contents: read
      pull-requests: write
    uses: broadinstitute/shared-workflows/.github/workflows/conventional-commit.yaml@v6.0.0
  linting:
    uses: broadinstitute/shared-workflows/.github/workflows/terraform-lint.yaml@v6.0.0
    with:
      tflint_config_path: ../.tflint.hcl
      working_directory: prod
  static_analysis:
    uses: broadinstitute/shared-workflows/.github/workflows/terraform-static-analyze.yaml@v6.0.0
    secrets:
      wf_github_token: ${{ secrets.github_token }}
    with:
      run_trivy: true
      working_directory: prod
  validation:
    uses: broadinstitute/shared-workflows/.github/workflows/terraform-validate.yaml@v6.0.0
    with:
      working_directory: prod
